body {
    background-color: #f5f5f5
}

.margin-r20{
    margin-right: 20px
}

.margin-l20{
    margin-left: 20px
}

.button{
    width: 250px; 
    height: 40px; 
    background-color: #595573; 
    color:white;
    margin-top:25px;
}

.button span {
    margin-left: 10px;
}